.leaflet-control-fullscreen a {
  background:#fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAA0CAYAAACU7CiIAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAANZSURBVFiF7ZdLSFRRGIC/c++MjqhT+Yy0Byg9qCDBFhFFEElBRAWCQVFELXJRizYFbapNBG2KCFoU1EaISFpUgqAghQ8qLB8YjmM+JtN5nHPuPS1mxpzxztw7D7Wg/uVhzv/9/+f8Z875z1Hkt6qA48ARYBewFagFQoAfGAY+AW+Bl0BPvoDqLEG1wFWgDdCBpBBiRtf1b7quD+m6PhKLxWK6rqOUQtM0TdO0kKZpDZqm7dQ0bTugW4GvgLvAiK1HQojDQohOIcR0Npwsy7IsywOSJHVJktQqhBBW4HwhxHkp5Q1FUSIrHTU2NhIMBsnPz0dVVRRFQVVVNE1DVVWklJimiaqqxGIxotEosViMcDhMLBYjGo2STCYBUBSFQCCArusMDQ0xMTFBOBxeEXoH3AGQUu611dfa2sqVK1coKChAKYWUMi20DPF6vXi9XgKBAC6XC5/Ph6Io+Hw+hBDous7o6CjRaHQWUEFBwSFbUDAYpLi4GNM0UUplBM0VpRSGYaCUQtd1pJSYpokQAo/Hg2EY+P1+gsFgGmg+0DTNtB1N08QwjJQny0GmaZJIJFKvO4fUu1dXVxdtbW2sW7eOSCTC5OQkExMThEIh/H4/qqoyNTXF9PQ0Ho8Ht9uNy+UiLy8Pj8eDruusX78ej8dDMpkkHo8zOztLPB4nkUjQ3NzMoUOH5kMDwD5gRkoZTqeEEGiaho2DME0Tl8uF2+1OP+2GYS8p5TFgF/AiGzgrB4GzwIlcQE3ALaDIrpNhGDlPXQjxL2ivgE5gEhiQUo4vn7pyHZ0BzgF7gAopZfFSwQXVB/QKIe4BPVLKv2uBHgMngLpMF20d/AEeAhd1Xf+RTCaTQFxKGQUSQEIIEZdSxoQQEV3Xp3Vd/wn8ikQiQ+FweDgUCv2YmZmZnJqaGkin0EL4KPA8kxMA9cBBm8k7CrRkYxZQAdwDksBbB2ClwH3gN3DTIfRd4DfQDpQ5gDYL+AAMAZscQO8DE8BtoNAO2iSE+N7f3z8UiUTGDMOIGYYRM03TNE1zVtM0Q0qZlFImhBBxwzBihmFEDMP4aZrmL9M0R5LJ5Jiu68OxWOxzf3//F+AZ0AW8B94B74FPwDDwE/gL/JFSLvtlzaYpYAswCAwC7cDxbDr+AfoUSEppf8wGAAAAAElFTkSuQmCC) no-repeat 0 0;
  background-size: 26px 52px;
}
.leaflet-touch .leaflet-control-fullscreen a {
  background-position: 2px 2px;
}
.leaflet-fullscreen-on .leaflet-control-fullscreen a {
  background-position:0 -26px;
}
.leaflet-touch.leaflet-fullscreen-on .leaflet-control-fullscreen a {
  background-position: 2px -24px;
}

/* Do not show the fullscreen button when already in fullscreen */
.leaflet-container:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
}
.leaflet-container:-ms-fullscreen {
  width: 100% !important;
  height: 100% !important;
}
.leaflet-container:full-screen {
  width: 100% !important;
  height: 100% !important;
}

.leaflet-pseudo-fullscreen {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 99999;
}